body {
  margin: 0;
}

.parallax1 {
  min-height:100vh;
  background-image: url(kamokila-cruddas-K_Jt6UzsHRc-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax2 {
  min-height:100vh;
  background-image: url(mohamed-elwaid-8KOLboRgG6I-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax3 {
  min-height:100vh;
  background-image: url(neom-QbDCsB2yCSM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}